extends layout

block append scripts
    script(src='/javascripts/libs/jquery-1.9.0.min.js')

block content
    div#wrapper
        div.container-fluid
            div.row-fluid.segment
                img.centered(src='/images/banner.png')
            div.row-fluid.segment
                img.centered#schema(src='/images/schema.png')
            div.row-fluid.segment
                div.span6
                    div.iframe-container
                        iframe.maps(frameborder="0",scrolling="no",marginheight="0",marginwidth="0",src="https://maps.google.com/maps/ms?msa=0&amp;msid=215510472582204168123.0004d4965e05c60ba5805&amp;ie=UTF8&amp;t=m&amp;ll=46.286224,1.889648&amp;spn=10.630383,18.676758&amp;z=5&amp;output=embed")
                            small 
                                span View 
                                a(href="https://maps.google.com/maps/ms?ll=46.7248,3.186035&amp;spn=10.575586,23.24707&amp;t=m&amp;z=6&amp;msa=0&amp;msid=215510472582204168123.0004d4965e05c60ba5805&amp;source=embed",style="color:#0000FF;text-align:left") meeet-up-marketing-dev-design
                                span  in a larger map
                div.span6
                    div.well.form-container
                        form.form-horizontal(action="http://ekito.us6.list-manage2.com/subscribe/post?u=1dfdf26147721a052cf940e37&amp;id=63fcae47fc",method="post")
                            legend Inscrivez-vous à la mailing list!
                            div.control-group
                                label.control-label(for="mce-EMAIL") E-mail
                                div.controls
                                    input(type="email",value="",name="EMAIL",id="mce-EMAIL",placeholder="",required)
                            div.control-group
                                label.control-label(for="mce-FNAME") Prénom
                                div.controls
                                    input(type="text",value="",name="FNAME",id="mce-FNAME",placeholder="",required)
                            div.control-group
                                label.control-label(for="mce-LNAME") Nom
                                div.controls
                                    input(type="text",value="",name="LNAME",id="mce-LNAME",placeholder="",required)
                            div.control-group
                                label.control-label(for="mce-MMERGE3") Groupe
                                div.controls
                                    select(name="MMERGE3",id="mce-MMERGE3",required)
                                        option(value="")
                                        option(value="Marketing") Marketing
                                        option(value="Développeur") Développeur
                                        option(value="Designer") Designer
                            div.control-group
                                div.controls
                                    button.btn.btn-primary Envoyer
            div.row-fluid.segment
                h1 Principe
                p Mah nizzle ipsum dolizzle fo shizzle shiznit, consectetizzle adipiscing elit. Nullizzle shiznit velizzle, daahng dawg volutpizzle, suscipizzle quizzle, gravida vizzle, arcu. Pellentesque that's the shizzle. Fo shizzle mah nizzle fo rizzle, mah home g-dizzle eros. Ghetto izzle dolor fo shizzle mah nizzle fo rizzle, mah home g-dizzle check out this tempizzle sizzle. Maurizzle ass nibh mah nizzle turpizzle. Boofron izzle tortizzle. Pellentesque eleifend rhoncizzle mah nizzle. Dang hac phat izzle dictumst. Break it down dapibizzle. Curabitur owned dang, pretizzle eu, bling bling boofron, eleifend vitae, doggy. Check out this suscipizzle. Integizzle semper gangsta fo shizzle shizzle my nizzle crocodizzle.
                h1 Détails Pratiques
                p Lorizzle boofron dolor go to hizzle amet, consectetuer adipiscing elizzle. Nullam bow wow wow ass, gangsta crazy, suscipizzle bling bling, cool vizzle, arcu. Pellentesque break yo neck, yall tortor. Sizzle erizzle. Boofron uhuh ... yih! dolor you son of a bizzle tempizzle owned. Crunk get down get down nibh et yippiyo. Doggy izzle tortor. Pellentesque rhoncus that's the shizzle. In hac habitasse gangster dictumst. I saw beyonces tizzles and my pizzle went crizzle dapibizzle. Mofo tellus urna, pretizzle fo shizzle, mattizzle ac, stuff vitae, nunc. Shit suscipizzle. Integizzle semper crackalackin sizzle shizzlin dizzle.
                h1 F.A.Q.
                dl
                    dt Mais qu'est ce que c'est donc?!
                    dd Prizzle eget tellivizzle. Crackalackin fo shizzle yippiyo dizzle fo shizzle massa tincidunt pellentesque. Mammasay mammasa mamma oo sa izzle fizzle. Vivamizzle lectizzle sapizzle, lacinia sizzle amet, vulputate break it down, funky fresh ac, nunc. Daahng dawg sizzle nizzle mauris. Bow wow wow fermentizzle mattis nunc. Morbi bling bling, elit izzle mah nizzle facilisis, velizzle tellizzle gangsta justo, doggy tellivizzle we gonna chung funky fresh quizzle enizzle. Sed phat pulvinizzle nunc. Get down get down dignissizzle. In hac habitasse platea dictumst. Nam shizznit amizzle dui. Donizzle mah nizzle dizzle. Aenizzle in risus. Nizzle crunk, elizzle gangsta adipiscing bling bling, massa fo shizzle mah nizzle fo rizzle, mah home g-dizzle pretium lorem, you son of a bizzle sure ipsizzle bow wow wow in risus.
                    dt Et comment je fais pour faire le chose?
                    dd Fizzle interdizzle. Shiznit potenti. Fo nisl. Shizzlin dizzle shizzlin dizzle ante, yo , ullamcorpizzle i saw beyonces tizzles and my pizzle went crizzle, scelerisque et, fo shizzle. Shiznit go to hizzle neque. Dizzle felis. Ass my shizz, nisl pizzle fringilla cursus, shiz mi varius ass, sizzle laorizzle neque pimpin' vel augue. Curabitizzle pimpin' nibh vizzle elizzle. Gangsta bibendum dolor nec fo shizzle. Crizzle dope, metizzle own yo' varizzle , lorizzle nizzle pharetra tortizzle, own yo' luctus risizzle funky fresh sizzle est.