doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='description', content="MDDD: meet-up entre les communautés de développeurs, designers et marketing, à Paris, Lyon, Toulouse.")
  body
    block content

    block scripts