@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font: 500 16px/1.6 Helvetica, Arial, sans-serif;
}

* {
    .box-sizing(border-box);    // real sizing for all!
}

a, a:hover {
    cursor: pointer;
    text-decoration: none;
}

form {
    label {
        line-height: 23px;
    }
    input, select {
        height: 35px !important;
        width: 100%;
    }
}

#wrapper {
    width: 70%;
    min-width: 700px;
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}

.container-fluid {

    .segment:not(:first-of-type) {
        margin-top: 50px;
    }

    h1, legend {
        font: 300 30px Helvetica, Arial, sans-serif;
        color: #353535;
    }

    img {
        &.centered {
            display: block;
            margin: 0 auto;
        }
    }

    @container-height: 370px;
    .iframe-container {
        margin: 0 20px;

        iframe.maps {
            width: 100%;
            height: @container-height;
        }
    }

    .form-container {
        height: @container-height;
        legend {
            border: none;
        }
    }

    dl {
        dt {
            margin-bottom: 5px;
            &:not(:first-of-type) {
                margin-top: 20px;
            }
        } 
    }

    .form-horizontal .control-group {
        margin-bottom: 10px;
    }
}